@font-face {
  font-family: neu;
  src: url(./NeueHaasDisplayLight.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

*::selection {
  color: black;
  background-color: white;
}

#loader {
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 99;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader > h2 {
  font-weight: 300;
  color: white;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 0 30px;
}

#navbar {
  height: 10%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

#nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-logo > h4 {
  left: 8%;
  font-size: 20px;
  cursor: default;
}

#nav-logo video {
  height: 80px;
  border-radius: 50%;
}

#nav-menu {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

#nav-menu > h4 {
  font-weight: 500;
  color: rgb(192, 192, 192);
  border: 1px solid rgba(174, 174, 174, 0.724);
  border-radius: 50px;
  padding: 7px 15px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

#nav-menu > h4 a {
  text-decoration: none;
  color: rgb(192, 192, 192);
  z-index: 9;
  position: relative;
}

#nav-menu > h4 a:hover {
  color: black;
  font-weight: 600;
}

#nav-menu > h4::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all ease 0.4s;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.731);
}

#nav-menu > h4:hover::after {
  bottom: 0;
  border-radius: 0%;
}

#nav-menu > h3:hover {
  cursor: pointer;
}

.nav-btn {
  font-size: 1.3rem;
  background-color: rgb(255, 96, 47);
  color: rgb(0, 0, 0);
  border: 1px solid white;
  margin-left: 25px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 7px 15px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

#center {
  height: 70vh;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.847); */
}

#center #left {
  display: flex;
  align-items: center;
  justify-content: center;
}

#center #left img {
  height: 500px;
  opacity: 80%;
}

#center #right > h1 {
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 8rem;
  text-align: right;
  color: rgba(156, 156, 156, 0.751);
  letter-spacing: -2px;
}

#center #right .title {
  color: #ff5521b5;
}

/* -------------section2---------------- */

#about {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
}

#about-con {
  /* background-color: bisque; */
  height: 80vh;
  width: 50%;
  position: absolute;
  /* z-index: 5; */
  top: 8%;
  left: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(201, 201, 201, 0.79);
}

#about-con > .big-txt {
  text-align: center;
  /* background-color: aquamarine; */
  margin-top: -8%;
}

#about-con > .big-txt h1 {
  color: rgb(133, 133, 133);
  font-size: 4rem;
  font-weight: 700;
}

.small-txt {
  text-align: center;
  margin-top: -8%;
  /* background-color: pink; */
}

.small-txt > h2 {
  font-size: 2rem;
  font-weight: 300;
  color: white;
}

.buttons {
  display: flex;
  gap: 25px;
  /* margin-top: 9%; */
}

.buttons > button {
  font-size: 1.7rem;
  padding: 6px 18px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 20px;
  color: black;
}

.buttons .resume-btn:hover {
  background-color: hsla(14, 100%, 56%, 0.9);
}

.buttons .github-btn:hover {
  background-color: hsl(0, 0%, 57%, 0.9);
}

.buttons .github-btn {
  background-color: hsl(0, 0%, 57%, 0.7);
}

.buttons .resume-btn {
  background-color: hsla(14, 100%, 56%, 0.75);
}

#education {
  height: 700px;
  width: 400px;
  /* background-color: rgba(230, 230, 230, 0.342); */
  position: absolute;
  top: 5%;
  right: 1%;
  /* padding: 20px 10px; */
}

#education > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  top: 0.7%;
  left: 40%;
}

#education > img {
  height: 50px;
  position: relative;
  left: 25%;
}

#school {
  position: relative;
  left: 2%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 1px solid rgba(255, 255, 255, 0.502);
  padding-left: 20px;
}

#school > h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}

#school > span {
  font-size: 1.4rem;
  color: #ff5521b5;
}

#center-gif {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 0;
}

#center-gif > img {
  height: 700px;
  opacity: 15%;
  position: relative;
}

/* -----------section3--------------- */

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: relative;
}

#page3 > .head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.pg3-works {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

#page3 > #top-box {
  height: 60vh;
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  padding: 0 3%;
  justify-content: space-evenly;
  gap: 20px;
}

#page3 > #top-box .boxes {
  height: 100%;
  width: 28%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 > #top-box .boxes video {
  height: 95%;
  width: 98%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

#page3 > #top-box .boxes img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  transition: all ease 1s;
}

#page3 > #top-box .boxes:hover img {
  opacity: 0;
}

#page3 .foot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

#page3 .foot .pg3-skills {
  font-size: 3rem;
}

#page3 .gola {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: hsla(14, 100%, 56%);
  display: inline-block;
  margin: 1vw;
}

#page3 > #moving-texts h1 {
  font-size: 4rem;
  display: inline-block;
}

#moving-texts {
  margin-top: 4%;
  opacity: 60%;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  white-space: nowrap;
  overflow-x: auto;
}

#moving-texts::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ----------------section4----------------- */

#page4 {
  height: 80vh;
  width: 100%;
  background-color: black;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
#page4 > video {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  opacity: 10%;
  object-fit: cover;
  object-position: center;
}
#pg4-con {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 8%;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#left-part {
  height: 500px;
  width: 50%;
  padding: 0 25px;
  /* background-color: red; */
}

#left-part > h1 {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 5px 15px;
  color: black;
  border-radius: 25px;
  background-color: #ff602f;
  cursor: default;
}

#left-part > .pg4-para {
  margin-top: 3%;
}

#left-part > .pg4-para h2 {
  color: white;
  font-size: 3rem;
}
#left-part > .pg4-para h4 {
  font-weight: 100;
  letter-spacing: 1px;
}
#left-part > .pg4-para span {
  color: #ff5f2fd7;
}

#right-part {
  height: 600px;
  width: 50%;
  /* background-color: rgb(136, 0, 255); */
}

#right-part > .part1 h3 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}
#right-part > .part1 .msg {
  padding: 30px 15px;
}
#right-part > .part1 input {
  font-size: 1.2rem;
  width: 90%;
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.212);
}

#right-part > .part2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 15%;
}
#right-part > .part2 > a {
  margin-left: -10%;
}

#right-part > .part2 .submit-btn {
  color: black;
  background-color: #c0c0c0;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 15px;
}

#right-part > .part2 .submit-btn:hover {
  background-color: rgb(239, 239, 239);
  border: 1px solid white;
}

/* ----------------section5---------------- */

#socials {
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
  display: block;
  border-top: 2px solid rgba(245, 245, 220, 0.429);
}

#upper-footer {
  height: 50vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}

#upper-footer > img {
  position: absolute;
  top: 5%;
  left: 38%;
  height: 350px;
}

#upper-footer > #left-part-footer {
  /* background-color: red; */
  width: 50%;
  padding: 20px 40px;
}

#upper-footer > #left-part-footer > .quote {
  margin-top: 30px;
}

#upper-footer > #left-part-footer > .quote > h2 {
  font-weight: 100;
  color: #ff602f;
  opacity: 80%;
}

#upper-footer > #left-part-footer > button {
  color: black;
  background-color: rgba(255, 255, 255, 0.895);
  font-size: 1rem;
  padding: 5px 15px;
  margin-top: 20px;
  opacity: 80%;
  border: 1px solid white;
  border-radius: 20px;
}

#upper-footer > #left-part-footer > button:hover {
  color: white;
  background-color: black;
  animation: all ease 1s;
}

#upper-footer > #right-part {
  height: 400px;
  width: 50%;
  padding: 2px 15px;
  display: flex;
  /* background-color: blue; */
  flex-direction: column;
  align-items: last baseline;
  justify-content: space-around;
}

#middle-footer {
  height: 20vh;
  width: 100%;
  /* background-color: rgb(255, 120, 120); */
  display: flex;
  align-items: center;
  justify-content: center;
}

#middle-footer > #socials-con {
  display: flex;
  gap: 8px;
  border-radius: 10px;
  padding: 10px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.801);
}

#middle-footer > #socials-con > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#middle-footer > #socials-con > img:hover {
  opacity: 60%;
  cursor: pointer;
}

#lower-footer {
  height: 10vh;
  width: 100%;
  /* background-color: rgb(227, 182, 234); */
  display: flex;
  align-items: center;
  justify-content: center;
}
