@font-face {
  font-family: nb;
  src: url(./fonts/NBInternationalProBoo.ttf);
}

@font-face {
  font-family: rejoy;
  src: url(./fonts/Rejouice-Headline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
  color: rgb(211, 211, 211);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #2f2f2f;
}

*::selection {
  color: black;
  background-color: white;
}

#loader {
  height: 100vh;
  width: 100%;
  background-color: #2f2f2f;
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader > h2 {
  font-weight: 300;
  color: #c0c0c0;
  text-align: center;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #2f2f2f;
  padding: 0 30px;
}

.fixed-icon {
  position: fixed;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 20px;
  z-index: 998;
  padding: 1.5vw;
  border-radius: 50%;
  background: #000;
  transition: all 0.3s;
}

.fixed-icon:hover {
  cursor: pointer;
  background-color: #e8630a;
}

.fixed-icon a {
  text-decoration: none;
}

.fixed-icon i {
  font-size: 20px;
}

#navbar {
  height: 10%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

#nav-logo {
  display: flex;
  padding: 1vw 2vw;
  justify-content: center;
  align-items: center;
}

#nav-logo > h4 {
  font-size: 1.8vw;
  text-transform: none;
  cursor: default;
}

#nav-menu {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

#nav-menu > h4 {
  font-weight: 500;
  color: #c0c0c0;
  border: 1.5px solid #aeaeaeb9;
  border-radius: 50px;
  padding: 7px 15px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

#nav-menu > h4 a {
  text-decoration: none;
  color: rgb(192, 192, 192);
  z-index: 9;
  position: relative;
}

#nav-menu > h4 a:hover {
  color: black;
  font-weight: 600;
}

#nav-menu > h4::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all ease 0.4s;
  border-radius: 50%;
  background-color: #ffffffba;
}

#nav-menu > h4:hover::after {
  bottom: 0;
  border-radius: 0%;
}

#nav-menu > h3:hover {
  cursor: pointer;
}

.nav-btn {
  font-size: 1.2rem;
  background-color: #e8630a;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  margin-left: 25px;
  margin-right: 20px;
  border-radius: 25px;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-btn a {
  text-decoration: none;
}

.nav-btn:hover {
  font-size: 1.3rem;
  background-color: black;
  border: 1px solid #ffffffba;
  color: white;
}

.menu {
  background: transparent;
  border: none;
  display: none;
}

.hamburger {
  font-size: 25px;
}

#center {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.847);
}

#center #left {
  padding: 0 10vw;
  height: inherit;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#left h3 {
  font-size: 2vw;
}

#left h1 {
  font-size: 4.5vw;
}

#left h1 span {
  color: #e8630a;
}

#left p {
  color: #c0c0c0;
  font-size: 1.5vw;
  line-height: 1.3;
}

.buttons {
  display: flex;
  gap: 25px;
}

.buttons > button {
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 20px;
  transition: ease 0.3s;
}

.buttons .resume-btn {
  background-color: #e8630a;
}

.buttons .resume-btn:hover {
  background-color: #2f2f2f;
  border: 1px solid #ffffffba;
  color: white;
}

.buttons .resume-btn a {
  color: #000;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  transition: ease 0.3s;
  text-decoration: none;
}

.buttons .resume-btn a:hover {
  color: white;
}

.buttons .github-btn {
  background-color: #ffffffba;
  color: rgb(0, 0, 0);
}

.buttons .github-btn:hover {
  background-color: transparent;
  border: 1px solid #ffffffba;
  color: white;
}

.buttons .github-btn a {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  transition: ease 0.3s;
  text-decoration: none;
}

.buttons .github-btn a:hover {
  color: white;
}

#btm {
  margin: 2vw;
  display: flex;
  justify-content: center;
}

#btm h3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

#btm h3 > i {
  font-size: 1.5vw;
  margin-top: 5px;
  text-align: center;
  animation: yoyo linear 2s infinite;
}

@keyframes yoyo {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(14px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* -------------section2---------------- */

#about {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #2f2f2f;
}

#about .about-heading {
  color: #e8630a;
  font-size: 3.5vw;
  padding: 1vw 2vw;
  width: fit-content;
  position: absolute;
  top: 2%;
  right: 6%;
  border-bottom: 1px solid rgba(218, 218, 218, 0.865);
  border-radius: 10px;
  font-family: rejoy;
}

#about-info {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: absolute;
  right: 0;
  top: 2%;
  z-index: 5;
  display: flex;
}

#about-info p {
  font-size: 2vw;
  letter-spacing: -0.1px;
  width: 80%;
  color: rgb(250, 229, 229);
  text-align: center;
  opacity: 80%;
}

#skills {
  width: 60%;
  height: 100%;
}

#skills h1 {
  color: #e8630a;
  font-size: 3.5vw;
  padding: 1vw 2vw;
  width: fit-content;
  position: absolute;
  top: 20%;
  left: 12.5%;
  border-bottom: 1px solid rgba(218, 218, 218, 0.865);
  border-radius: 10px;
  font-family: rejoy;
}

#skill-box {
  position: absolute;
  border-left: 1.5px solid white;
  border-right: 1.5px solid white;
  border-bottom: 1.5px solid white;
  border-radius: 20px;
  bottom: 10%;
  left: 5%;
  width: fit-content;
  padding: 5vw 2vw;
  display: grid;
  gap: 50px;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
}

#skill-box img {
  width: 70px;
  height: 70px;
  border-radius: 20%;
}

/* -----------section3--------------- */

#projects {
  height: 70vh;
  width: 100%;
  background-color: #2f2f2f;
  position: relative;
}

#projects > .head {
  display: flex;
  justify-content: center;
  margin-left: 3vw;
  margin-top: -20px;
}

#projects > .head h1 {
  color: #e8630a;
  font-size: 3.5vw;
  padding: 1vw 2vw;
  width: fit-content;
  border-bottom: 1px solid rgba(218, 218, 218, 0.865);
  border-radius: 10px;
  font-family: rejoy;
}

.pg3-works {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

#slides {
  height: 70%;
  width: 100%;
  padding: 2vw 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide {
  width: 30%;
  border-radius: 8px;
  overflow: hidden;
  perspective: 100px;
}

.slide img {
  border-radius: 8px;
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.slide img:hover {
  transform: translateZ(8px);
  border-radius: 8px;
  cursor: pointer;
}

.slide .tag {
  margin: 20px 22px;
  padding: 5px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  letter-spacing: -0.3px;
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  color: #000000e5;
  background-color: #d6d6d6c1;
}

.slide h2 {
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: -0.3px;
}

/* ----------------section4----------------- */

#page4 {
  height: 80vh;
  width: 100%;
  background-color: #2f2f2f;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pg4-con {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 8%;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#left-part {
  height: 500px;
  width: 50%;
  padding: 0 25px;
  /* background-color: red; */
}

#left-part > h1 {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 5px 15px;
  color: black;
  border-radius: 25px;
  background-color: #e8630a;
  cursor: no-drop;
}

#left-part > .pg4-para {
  margin-top: 3%;
}

#left-part > .pg4-para h2 {
  font-size: 3rem;
}
#left-part > .pg4-para h4 {
  font-weight: 100;
  letter-spacing: 1px;
}
#left-part > .pg4-para span {
  color: #e8630a;
}

#right-part-pg4 {
  height: 600px;
  width: 50%;
  /* background-color: rgb(136, 0, 255); */
}

#right-part-pg4 > .part1 h3 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}
#right-part-pg4 > .part1 .msg {
  padding: 30px 15px;
}
#right-part-pg4 > .part1 input {
  font-size: 1.2rem;
  width: 90%;
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.212);
}

#right-part-pg4 > .part2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 15%;
}
#right-part-pg4 > .part2 > a {
  margin-left: -10%;
  transition: all 0.3s;
}

#right-part-pg4 > .part2 > a:hover {
  color: #e8630a;
}

#right-part-pg4 > .part2 .submit-btn {
  color: black;
  background-color: #c0c0c0;
  border-radius: 5px;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 15px;
  transition: all 0.3s;
}

#right-part-pg4 > .part2 .submit-btn:hover {
  background-color: #e8630a;
  color: #000;
}

/* ----------------section5---------------- */

#socials {
  height: 40vh;
  width: 100%;
  border-top: 1px solid rgba(207, 207, 207, 0.429);
}

#upper-footer {
  height: inherit;
  width: 100%;
  position: relative;
  justify-content: space-between;
  display: flex;
}

#upper-footer > #left-part-footer {
  width: 50%;
  padding: 0 40px;
}

#upper-footer > #left-part-footer > .quote {
  margin-top: 30px;
}

#upper-footer > #left-part-footer > .quote > h2 {
  font-weight: 100;
  color: #e8630a;
  opacity: 80%;
}

#upper-footer > #left-part-footer > button {
  color: black;
  background-color: rgba(255, 255, 255, 0.895);
  font-size: 1rem;
  padding: 5px 15px;
  margin-top: 20px;
  opacity: 80%;
  border: 1px solid white;
  border-radius: 20px;
  transition: all 0.3s;
}

#upper-footer > #left-part-footer > button:hover {
  color: white;
  background-color: #2f2f2f;
}

#upper-footer > #right-part {
  width: 30%;
  margin-right: 1.5vw;
  margin-bottom: 10vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

#right-part #elem {
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#right-part #elem > h3 a {
  text-decoration: none;
  transition: all 0.3s;
}

#right-part #elem > h3 a:hover {
  color: #e8630a;
  cursor: pointer;
  text-decoration: underline;
}

#right-part span {
  margin-bottom: 3vw;
}

#socials-con {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 40%;
  left: 50%;
  padding: 30px 20px;
  transform: translate(-50%, 0);
  height: 50px;
  border-bottom: 1px solid white;
  border-radius: 10px;
}

#socials-con > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

#socials-con > img:hover {
  opacity: 60%;
  transform: translateY(-20px);

  cursor: pointer;
}

#lower-footer {
  padding: 1.5vw 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
